<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PayrollPreparation.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="PayrollConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=PayrollPreparation;Integrated Security=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <PayrollPreparation.BL.Properties.Settings>
      <setting name="January" serializeAs="String">
        <value>168</value>
      </setting>
      <setting name="February" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="March" serializeAs="String">
        <value>159</value>
      </setting>
      <setting name="April" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="May" serializeAs="String">
        <value>158</value>
      </setting>
      <setting name="June" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="July" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="August" serializeAs="String">
        <value>176</value>
      </setting>
      <setting name="September" serializeAs="String">
        <value>168</value>
      </setting>
      <setting name="October" serializeAs="String">
        <value>184</value>
      </setting>
      <setting name="November" serializeAs="String">
        <value>159</value>
      </setting>
      <setting name="December" serializeAs="String">
        <value>166</value>
      </setting>
      <setting name="Salary" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="FromOneToFive" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FromFiveToTen" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FromTenToFifteen" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MoreThanFifteen" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SmallSalary" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="OneUnder18" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="TwoAndMoreUnder18" serializeAs="String">
        <value>61</value>
      </setting>
      <setting name="OtherCatagory" serializeAs="String">
        <value>155</value>
      </setting>
      <setting name="SmallSalaryValue" serializeAs="String">
        <value>665</value>
      </setting>
    </PayrollPreparation.BL.Properties.Settings>
  </userSettings>
</configuration>